<table>
    <thead>
      <tr>
        <th>Username</th>
        <th>Score</th>
        <th>Difficulty</th>
        <th>Time Taken</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John Smith</td>
        <td>8/10</td>
        <td>Easy</td>
        <td>4 minutes</td>
      </tr>
      <tr>
        <td>Kevin James</td>
        <td>9/10</td>
        <td>Medium</td>
        <td>5 minutes</td>
      </tr>
      <tr>
        <td>Brad Pitt</td>
        <td>6/10</td>
        <td>Hard</td>
        <td>6 minutes </td>
      </tr>
    </tbody>
  </table>

  <div>
    <button routerLink="/quizpage"> Back to quiz page </button>
  </div>
  