<div>
    <h2>Question 1: Who has the most points in Cleveland Cavaliers history?</h2>
    <h5>A: Mark Price</h5>
    <h5>B: Kyrie Irving</h5>
    <h5>C: Lebron James</h5>
    <h5>D: Kevin Love</h5>
</div>

<div>
    <h5>Current Score: 5/8</h5>
</div>

<div>
    <button>Previus Question</button>
    <button>Next Question</button>
    <div>
    <button routerLink="/quizpage">Exit Page</button>
</div>

<div>
    <div>
        <button routerLink="/leaderboard">Submit Quiz</button>
    </div>
</div>
</div>
